<header>
    <div id="menu-jk" class="nav-part shadow-md bg-white navcol fa " style="width: 100%;">
        <div class="container-lg">
            <div class="row  p-2">
                <div class="col-lg-4 p-2">
                    <div style="color: white; font-size: 30px; font-weight: bold;">QKTR</div>
                     <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
                </div>
                <div id="menu" class="col-lg-8 d-none d-lg-block" >
                    <ul class="fw-bold float-end nacul fs-7">
                        <li class="float-start p-3 px-4"><a href="Home" style="color: aliceblue;">Home</a></li>
                        <li class="float-start p-3 px-4"><a href="about" style="color: aliceblue;">About Us</a></li>
                        <li class="float-start p-3 px-4"><a href="#serv" style="color: aliceblue;">Services</a></li>
                        <li class="float-start p-3 px-4"><a href="#bott" style="color: aliceblue;">Contact Us</a></li>

                        <li class="float-start p-3 px-4"><a href="login" style="color: aliceblue;">Login</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>