
<div id="carouselExampleIndicators" class="carousel slide bod" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
            <div class="row" style="padding-top: 6%;padding-bottom: 7%;">
                 <div class="col-lg-5 text-start" style="margin-left: 5%;">
                    <h1 class="fs-12 fw-bolder text-start mb-3" style="color:  #00027a; font-size:90px;">QKTR <br><span class="text-primary" style="color:  #00027a !important;">online Bank</span> </h1> 
                    <h5 class="text-dark d-none d-md-block text-start">There are many different varieties of flower honey available… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac laoreet lacus. Morbi auctor quam tempus massa vestibulum aliquet eu vitae ligula. </h5>
                    <div class="d-inline-block pt-5 text-start d-none d-lg-block">
                        <a href="login"><button class="btn btn-primary shadow fs-5 fw-bolder px-5 py-2">Login</button></a>
                        <a href="register"><button class="btn btn-outline-primary ms-4 shadow fs-5 fw-bolder px-5 py-2">Regisiter</button></a>
                    </div>
                 </div>
                 <div class="col-lg-6 d-none d-lg-block">
                     <img src="assets/HomeAssets/images/slider/bank.png" alt="">
                 </div>
  </div>
  <hr>

  <div class="container-fluid products big-padding pt-5" style="margin-bottom: 10%;">
    <div class="container-xl">
        <div class="section-title row">
             <h2 class="fs-1 fw-bold">Why Choosing our Bank</h2>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit consectetuer adipiscing elit. Aenean commodo.</p>
         </div>
        <div class="row mt-5">
            <div class="col-lg-3 mb-4 col-md-6">
                <div class="cover text-center">
                    <img class="w-125" src="https://www.freeiconspng.com/thumbs/secure-icon-png/lock-icon-17.png" alt="">
                    <h2 class="fs-3 fw-bolder mt-4">Full security</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                </div>
            </div>
            <div class="col-lg-3 mb-4 col-md-6">
                <div class="cover text-center">
                    <img class="w-125" src="https://static.vecteezy.com/system/resources/previews/009/662/857/non_2x/wifi-hotsport-icon-transparent-free-png.png" alt="">
                    <h2 class="fs-3 fw-bolder mt-4">Remotly Control</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                </div>
            </div>
            <div class="col-lg-3 mb-4 col-md-6">
                <div class="cover text-center">
                    <img class="w-125" src="https://t3.ftcdn.net/jpg/04/34/51/42/360_F_434514218_cdFGSQMZUd3t2vlGEDmBTbHM4ecbD1Wf.jpg" alt="">
                    <h2 class="fs-3 fw-bolder mt-4">No Tax</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                </div>
            </div>
            <div class="col-lg-3 mb-4 col-md-6">
                <div class="cover text-center">
                    <img class="w-125" src="assets/HomeAssets/images/icon/fast.png" alt="">
                    <h2 class="fs-3 fw-bolder mt-4">Fast Delivery </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh. </p>
                </div>
            </div>
        </div>
    </div>
</div>
 

<div class="container-fluid products big-padding px-3 bg-honey" id="serv">
    <div class="container-xl">
        <div class="section-title row">
             <h2 class="fs-1 fw-bold">Our Services</h2>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit.</p>
         </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="product bg-white p-4 text-center shadow-md">
                    <img src="assets/HomeAssets/images/services/a.png" alt="">
                     
                    
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="product bg-white p-4 text-center shadow-md" >
                    <img src="assets/HomeAssets/images/services/path1-3.png" style="padding-bottom: 7%;" alt="">
                     
                 
                    
                </div>
               
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                
                <div class="product bg-white p-4 text-center shadow-md">
                    <img src="assets/HomeAssets/images/services/path1-6.png"  style="padding-bottom: 4%;" alt="">
                     
                    
                    
                </div>
                
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
               
                <div class="product bg-white p-4 text-center shadow-md">
                    <img src="assets/HomeAssets/images/services/path1-7.png"  style="padding-bottom: 3%;" alt="">
                     
                    
                    
                </div>
                
            </div>
        </div>
    </div>
</div>




<div class="about-us big-padding">
    <div class="container-lg">
        <div class="section-title">
            <p>Help us to Achieve our Goal</p>
            <h2>About Our Company</h2>
        </div>
        <div class="about-row row">
            <div class="col-md-7">
                <div class="abut-detail fs-6">
                     
                    <p class="mb-3">Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien, eget tempor justo. Aenean porttitor nibh metus, Cras faucibus tellus eleifend, fermentum purus in, dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida  sollicitudin egestas metus posuere et . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit </p>
                     <p class="mb-3"> Amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at dapibus elit bibendum consequat.  Cras faucibus tellus eleifend, fermentum purus in, dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida vestibulum, urna justo posuere ante, id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus</p>
                      <p class="mb-4">Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien, eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit  Cras faucibus tellus eleifend, fermentum purus in, dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida </p>
                </div>
               

                
            </div>
            <div class="col-md-5">
                <img src="https://st2.depositphotos.com/3554337/9554/i/450/depositphotos_95549230-stock-photo-bank-building-symbol.jpg" alt="">
            </div>
        </div>
    </div>
</div>


         <div id="testimonial" class="service bg-honey container-fluid px-4 py-5">
            <div class="container">
                
           
             <div class="section-title row mb-3">
                <h2 class="fw-bolder">Testimonial</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 mb-3">
                   <div class="serv-cove shadow-md rounded bg-white p-3">
                        <div class="prf row mb-3">
                            <div class="col-3">
                                <img class="rounded-pill" src="assets/HomeAssets/images/testimonial/member-01.jpg" alt="">
                            </div>
                            <div class="col-9 align-self-center">
                                <h6 class="mb-0 fw-bolder">Vinoth Parkash</h6>
                                <span>CEO Fabric Nation</span>
                            </div>
                        </div>
                        <div class="det text-center">
                            <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                        </div>
                   </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-3">
                   <div class="serv-cove shadow-md rounded bg-white p-3">
                        <div class="prf row mb-3">
                            <div class="col-3">
                                <img class="rounded-pill" src="assets/HomeAssets/images/testimonial/member-03.jpg" alt="">
                            </div>
                            <div class="col-9 align-self-center">
                                <h6 class="mb-0 fw-bolder">Jackson Daniel</h6>
                                <span>CEO Notitech</span>
                            </div>
                        </div>
                        <div class="det text-center">
                            <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                        </div>
                   </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-3">
                   <div class="serv-cove shadow-md rounded bg-white p-3">
                        <div class="prf row mb-3">
                            <div class="col-3">
                                <img class="rounded-pill" src="assets/HomeAssets/images/testimonial/member-02.jpg" alt="">
                            </div>
                            <div class="col-9 align-self-center">
                                <h6 class="mb-0 fw-bolder">Praveen Thaney</h6>
                                <span>Admin Vintech</span>
                            </div>
                        </div>
                        <div class="det text-center">
                            <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                        </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="serv-cove shadow-md rounded bg-white p-3">
                         <div class="prf row mb-3">
                             <div class="col-3">
                                 <img class="rounded-pill" src="assets/HomeAssets/images/testimonial/member-02.jpg" alt="">
                             </div>
                             <div class="col-9 align-self-center">
                                 <h6 class="mb-0 fw-bolder">Praveen Thaney</h6>
                                 <span>Admin Vintech</span>
                             </div>
                         </div>
                         <div class="det text-center">
                             <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                         </div>
                    </div>
                 </div>
                 
            </div>
             </div>
        </div>
        
        <app-footer id="bott"></app-footer>
